.os-icon {
    height: 100px;
}

.os-stats {
    min-width: 300px;
}

@media screen and (min-width: 950px) {
    #operating-systems {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
    #operating-systems {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.os-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

a {
    color: white;
}

.hidden {
    display: none;
}