table {
    margin: 10px auto;
    width: 800px;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    font-family: Arial, sans-serif;
    padding: 10px;
    color: white;
}

thead tr {
    background-color: #303030;
}

tbody tr:nth-child(1) {
    background-color: gold;
    td {
        color: black;
    }
}

tbody tr:nth-child(2) {
    background-color: silver;
    td {
        color: black;
    }
}

tbody tr:nth-child(3) {
    background-color: sienna;
    td {
        color: black;
    }
}

tbody tr:nth-child(3 + n) {
    background-color: #383838;
}