.os-icon {
    height: 100px;
    margin-left: 70px;
}

.android-label {
    color: #3ddc84;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 80px;
}

.macos-label {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 80px;
}

a {
    color: white;
}

#operating-systems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.os-bars {
    display: flex;
    align-items: center;
}

.os-label {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 180px;
    max-width: 180px;
}

.os-label img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.os-label p {
    text-align: center;
}