.os-icon {
    height: 100px;
    margin-left: 70px;
}

.android-label {
    color: #3ddc84;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 80px;
}

.macos-label {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 80px;
}

.os-percentage {
    color: white;
    margin-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 80px;
}

a {
    color: white;
}

#operating-systems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.os-bars {
    display: flex;
    align-items: center;
}

.os-bar-completed {
    height: 80px;
    width: 35%;
}

.os-bar-remaining {
    background-color: #606060;
    opacity: 0.75;
    height: 80px;
    width: 35%;
}

.os-label {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 180px;
    max-width: 180px;
}

.os-label img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.os-label p {
    text-align: center;
}

#windows-bar-completed {
    background-color: #0078d6;
}

#android-bar-completed {
    background-color: #3ddc84;
}

#android-32-bar-completed {
    background-color: #3ddc84;
}

#android-64-bar-completed {
    background-color: #3ddc84;
}

#android-32-64-bar-completed {
    background-color: #3ddc84;
}

#macos-bar-completed {
    background-color: #000000;
}

#macos-intel-bar-completed {
    background-color: #000000;
}

#macos-arm-bar-completed {
    background-color: #000000;
}

#macos-intel-arm-bar-completed {
    background-color: #000000;
}